/* Navbar */
.navbar-brand {
    font-size: 2rem;
}

/* Botón "Agregar producto" */
.btn-agregar {
    background-color: #28a745;
    color: white;
    border-radius: 5px;
}

/* Tabla */
.table {
    font-size: 1rem;
}

/* Formulario */
.form-control {
    border-radius: 5px;
}
